<div *ngIf="recepe; else NotSelectedText">
  <div class="card">

    <img *ngIf="recepe.imagePath" class="card-img-top" [src]="recepe.imagePath" alt="Food picture" style="max-height: 200px;">

    <div class="card-body">
      <h4 class="card-title">{{recepe.name}}</h4>
      <div>{{recepe.description}}</div>

      <div class="dropdown" appDropdown>
        <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true"
          aria-expanded="false">
                  Dropdown button
                </button>
        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
          <a class="dropdown-item" (click)="addToShopping()" href="#">Send to shopping list</a>
          <a class="dropdown-item" href="#">Another action</a>
          <a class="dropdown-item" href="#">Something else here</a>
        </div>
      </div>

    </div>
    <div class="card-footer text-muted">

      <div class="list-group">

        <a *ngFor="let ing of recepe.ingridients" class="list-group-item flex-column align-items-start">
          <p class="mb-1">{{ing.name}} - {{ing.amount}}</p>
        </a>

      </div>

    </div>
  </div>
</div>

<ng-template #NotSelectedText>
  <p>Выберите что нибудь</p>
</ng-template>