<div class="row">
  <div class="col-sm-6">
    <!-- form card login -->
    <div class="card card-outline-secondary">
      <div class="card-header">
        <h4 class="mb-0">Ингридиент</h4>
      </div>
      <div class="card-body">
        <form class="container" (ngSubmit)="onAdd(f)" #f="ngForm">
          <div class="row">
            <div class="col-md-6 mb-3">
              <label>Название ингридиента</label>
              <input type="text" class="form-control" placeholder="Название ингридиента" name="name" ngModel>
            </div>
            <div class="col-md-6 mb-3">
              <label>Количество</label>
              <input type="text" class="form-control" placeholder="Сколько?" name="amount" ngModel>
            </div>
          </div>
          <button class="btn btn-success" type="submit">Добавть</button>
          <button class="btn btn-danger" type="button" (click)="onRemove()" >Удалить</button>
          <button class="btn btn-primary" type="button" (click)="onClear()" >Очистить</button>
        </form>
      </div>
    </div>